services:
  jenkins:
    build:
      context: ./jenkins
    user: root
    container_name: jenkins_server
    privileged: true
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    environment:
      - JAVA_OPTS=-Xmx1280m -Djava.awt.headless=true
      - JAVA_OPTS=-Xmx1280m -Djava.awt.headless=true -Dhudson.model.DirectoryBrowserSupport.CSP=""
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - devsecops-net
    deploy:
      resources:
        limits:
          memory: 1.5G
        reservations:
          memory: 512M

  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube_server
    restart: always
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
      - SONAR_WEB_JAVA_OPTS=-Xmx512m -Xms256m
      - SONAR_CE_JAVA_OPTS=-Xmx512m -Xms256m
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - devsecops-net
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 512M

volumes:
  jenkins_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  devsecops-net:
    driver: bridge
