spring:
  application:
    name: customers-service
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}


---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:${CONFIG_SERVER_URL:http://config-server:8888/}
  cloud:
      config:
        fail-fast: true
        retry:
          max-attempts: 15
          initial-interval: 2000
          multiplier: 1.5
          max-interval: 10000